html {
	font-size: 62.5%;
	line-height: 1.6rem;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
}

@font-face {
	font-family: todoAppFont;
	src: url(/fonts/Merienda/Merienda-Regular.ttf);
}